<!DOCTYPE html>
<html>
<head>
    <title>Search</title>
</head>
<body>
    <h1>Search</h1>
    <form method="GET" action="{% url 'search' %}">
        {{ form.as_p }}
        <button type="submit">Search</button>
    </form>

    <h2>Search Results</h2>
    <ul>
        {% for result in results %}
            <li>{{ result.user }}</li>  <!-- Replace 'name' with the field you want to display -->
        {% empty %}
            <li>No results found.</li>
        {% endfor %}
    </ul>
</body>
</html>


